.workspace/
.adminbot/
.worktrees/
.assets
.docs
.env
*.pyc
dist/
build/
*.egg-info/
*.egg
*.pycs
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
.venv/
venv/
__pycache__/
poetry.lock
.pytest_cache/
botpy.log
nano.*.save
.DS_Store
uv.lock
.workspace/
.claude/settings.local.json
.agent/skills_antigravity/
nanobot_symbolic_link/

nanobots_docker/configs/nanox1/workspace/

nanobots_docker/configs/nanox1/config.json.bak
nanobots_docker/configs/nanox1/config.json
nanobots_docker/configs/nanox1/tested_models.json

wicktrading2
wicktrading2/
nanobots_docker/configs/
docs/plan/scanner/

nanobotalone
nanobotalonetrade
nanobotpro
docs_mcp_tradingview/
.codegraph/daemon.pid
.claude/settings.json
.claude/CLAUDE.md
.gitignore
.mcp.json
integrations/
nanobot_symbolic_link
