{#- Matrix theme: decorative layers rendered behind and above the app by base.html. #}
    <!-- Matrix Rain Background -->
    <div class="matrix-rain-container">
        <div class="matrix-column rain-anim" style="left: 2%; animation-duration: 12s; animation-delay: -2s;">
            ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿ1234567890</div>
        <div class="matrix-column rain-anim"
            style="left: 7%; animation-duration: 8s; animation-delay: -5s; opacity: 0.6; font-size: 0.8rem;">
            ZXCVMBNALSKDJFHGQPWOEIRUT</div>
        <div class="matrix-column rain-anim" style="left: 12%; animation-duration: 15s; animation-delay: -1s;">
            7894561230*+-/&lt;&gt;!@#$%^&amp;*()</div>
        <div class="matrix-column rain-anim"
            style="left: 17%; animation-duration: 10s; animation-delay: -8s; opacity: 0.4;">ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿ</div>
        <div class="matrix-column rain-anim" style="left: 22%; animation-duration: 18s; animation-delay: -3s;">
            qwertyuiopasdfghjklzxcvbnm</div>
        <div class="matrix-column rain-anim" style="left: 27%; animation-duration: 9s; animation-delay: -12s;">
            01010101010101010101010101</div>
        <div class="matrix-column rain-anim"
            style="left: 32%; animation-duration: 14s; animation-delay: -4s; opacity: 0.7;">ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿ</div>
        <div class="matrix-column rain-anim" style="left: 37%; animation-duration: 11s; animation-delay: -9s;">
            !@#$%^&amp;*()_+-=[]{}|;':",./</div>
        <div class="matrix-column rain-anim"
            style="left: 42%; animation-duration: 16s; animation-delay: -6s; opacity: 0.5;">0987654321QWERTYUIOPASDFGH
        </div>
        <div class="matrix-column rain-anim" style="left: 47%; animation-duration: 13s; animation-delay: -10s;">
            ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿ</div>
        <div class="matrix-column rain-anim" style="left: 52%; animation-duration: 12s; animation-delay: -2s;">
            ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿ1234567890</div>
        <div class="matrix-column rain-anim"
            style="left: 57%; animation-duration: 8s; animation-delay: -5s; opacity: 0.6; font-size: 0.8rem;">
            ZXCVMBNALSKDJFHGQPWOEIRUT</div>
        <div class="matrix-column rain-anim" style="left: 62%; animation-duration: 15s; animation-delay: -1s;">
            7894561230*+-/&lt;&gt;!@#$%^&amp;*()</div>
        <div class="matrix-column rain-anim"
            style="left: 67%; animation-duration: 10s; animation-delay: -8s; opacity: 0.4;">ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿ</div>
        <div class="matrix-column rain-anim" style="left: 72%; animation-duration: 18s; animation-delay: -3s;">
            qwertyuiopasdfghjklzxcvbnm</div>
        <div class="matrix-column rain-anim" style="left: 77%; animation-duration: 9s; animation-delay: -12s;">
            01010101010101010101010101</div>
        <div class="matrix-column rain-anim"
            style="left: 82%; animation-duration: 14s; animation-delay: -4s; opacity: 0.7;">ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿ</div>
        <div class="matrix-column rain-anim" style="left: 87%; animation-duration: 11s; animation-delay: -9s;">
            !@#$%^&amp;*()_+-=[]{}|;':",./</div>
        <div class="matrix-column rain-anim"
            style="left: 92%; animation-duration: 16s; animation-delay: -6s; opacity: 0.5;">0987654321QWERTYUIOPASDFGH
        </div>
        <div class="matrix-column rain-anim" style="left: 97%; animation-duration: 13s; animation-delay: -10s;">
            ｱｲｳｴｵｶｷｸｹｺｻｼｽｾｿ</div>
    </div>
    <div class="matrix-foreground-container">
        <div class="matrix-column-foreground rain-anim"
            style="left: 15%; animation-duration: 6s; animation-delay: -1s;">ｶｷｸｹｺｻｼｽｾｿｱｲｳｴｵ0123456789</div>
        <div class="matrix-column-foreground rain-anim"
            style="left: 80%; animation-duration: 7s; animation-delay: -4s;">ﾀﾁﾂﾃﾄﾅﾆﾇﾈﾉﾊﾋﾌﾍﾎﾏﾐﾑﾒﾓﾔﾕﾖ</div>
    </div>
    <div class="crt-overlay"></div>
    <div class="crt-scanline"></div>
